<style>
    .highlight {
      border: 2px solid green;
      background-color: aliceblue;
      text-align: center;
      margin-bottom: 20px;
    }
  </style>
  <div class="highlight">Container Component</div>
  <input type="text" [(ngModel)]="data" />
  <app-child [title]="data"></app-child>


<!-- <h1>Hello  {{courseName}}</h1> -->
<!-- <app-user></app-user> -->
<!--<p appRedEl>hello</p>
<h1 appRedEl>Hello</h1> -->
<!--
<table border=1>
    <tr>
        <td [attr.colspan] ="colspanValue"> First </td>
        <td>Second</td>
    </tr>
    <tr>
        <td>Third</td>
        <td>Fourth</td>
        <td>Fifth</td>
    </tr>
</table>

<button [style.color] = "isValid ? 'blue' : 'red' ">Hello</button> -->
<!-- {{ "Laptop" | uppercase }}

{{ "LAPTOP" | lowercase }}
{{ "product details" | titlecase }}
<br><br>

{{ 25000 | currency }} will display $25,000.00<br>
{{ 25000 | currency:'CAD' }} will display CA$25,000.00<br>
{{ 25000 | currency:'CAD':'code' }} will display CAD25,000.00<br>
{{ 25000 | currency':'CAD':symbol':'6.2-3'}} will display CA$025,000.00<br>
{{ 25000 | currency:'CAD': 'symbol-narrow':'1.3'}} will display $25,000.000<br>
{{ 250000 | currency:'CAD':'symbol':'6.3'}} will display CA$250,000.000<br>
{{ 250000 | currency:'CAD':'symbol':'6.3':'fr'}} will display 250 000,000 CA$<br>

<br><br>
{{ "6/2/2017" | date }} will display Jun 2, 2017<br>
{{ "6/2/2017, 11:30:45 AM" | date:'medium' }} will display Jun 2, 2017, 11:30:45 AM<br>
{{ "6/2/2017, 11:30:45 AM" | date:'mmss' }} will display 3045<br> -->

<h2>{{1 | usdInr:76}}</h2>



<!-- <app-header></app-header>
<app-comp1></app-comp1>
<app-comp2></app-comp2>
<p (click)="changeName()">click on this text</p> -->
<br>
<!-- <button (click)="show=true">View Courses list</button><br/><br/>
<div *ngIf="show">
    <app-courselist></app-courselist>
</div> -->

<!-- <h2> Popular Courses </h2>
Select a course to view
<select #course (change)="name = course.value">>
    <option value="Node JS">Node JS</option>
    <option value="Typescript">Typescript</option>
    <option value="Angular">Angular</option>
    <option value="React JS">React JS</option>
</select>
<br/>
<br/>
<app-courselist [cName]="name"></app-courselist> -->

<app-courselist (onRegister)="courseReg($event)"></app-courselist>
<br/><br/>
<div *ngIf="message">{{message}}</div>

<h3>Accessing component using @ViewChild</h3>
<br />
<br />
Timer Example :
<button type="button" (click)="startTimer()">Begin</button>
<button type="button" (click)="stopTimer()">End</button>
<br />
<app-timer></app-timer>

<h3>Accessing Template variable using @ViewChild</h3>
<div>
    Employee Name :
    <input type='text' #empName>
    <br/> Employee Number :
    <input type='text' #empNumber>
</div>
<br>

<h3>Accessing Directive using @ViewChild</h3>
<br />
<br />
@ViewChild Example :
<div appColor>Modify Color of this Content</div>
<br />
<br />
<div>
  Modify Color :
  <input type="radio" name="color" (click)="modifyColor('blue')" />Blue
  <input type="radio" name="color" (click)="modifyColor('yellow')" />Yellow
  <input type="radio" name="color" (click)="modifyColor('cyan')" />Cyan
</div>

