<!-- <p>user works!</p>
<button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
show = {{show}}
<br>
<div *ngIf="show; else elseBlock">Text to show</div>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>


<div class='panel panel-primary'>
        <div class='panel-heading'>
            {{title}}
        </div>
        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Director</th>
                            <th>Cast</th>
                            <th>Release Date</th>
                        </tr>
                    </thead>
                    <tbody>
     	<tr *ngFor="let movie of movies; let i = index">
                            <td>{{i+1}}-{{movie.title}}</td>
                            <td>{{movie.director}}</td>
                            <td>{{movie.cast}}</td>
                            <td>{{movie.releaseDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class='row' [ngSwitch]="selectedValue">
            <div *ngSwitchCase="'One'">One is Pressed</div>
            <div *ngSwitchCase="'Two'">Two is Selected</div>
            <div *ngSwitchDefault>Default Option</div>
        </div>

        <form>
            <input type="text" name="userName">
              <button (click)="argsPass(userName.value)">Add Style</button> -->
        <!-- </form> -->
<!-- <div [ngStyle]="myStyle">Hello</div>
 <button (click)="addStyles()">Add Style</button>

 <div [ngClass]="myClasses">Hello</div>
<button (click)="changeShape()">Change Shape</button> --> -->


<input type="text" [(ngModel)]="name"> <br/>
<div>Hello , {{ name }}</div>



